@using Byteology.Website.Layout
@using Byteology.Website.Navigation

<Slide>
        <div class="grow w-full flex flex-col">

        <div class="grow p-8 -mt-6
                    flex items-center justify-center">
            <img class="w-1/2 max-w-xs
                        object-center object-contain"
                 src="/images/logo-portrait.svg"
                 alt="Byteology - a moment of science"/>
        </div>

        <div class="panel w-full">
            @ChildContent
        </div>
    </div>
</Slide>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
