@using Byteology.Website.Layout
@using Byteology.Website.Navigation

<Slide>
    <b-hero-layout>
        <aside>
            <img src="/images/logo-portrait.svg" alt="Byteology - a moment of science"/>
        </aside>

        <b-hero-content-side>
            <article>
                <p>
                    By introducing <strong>scientific generalization</strong> to every aspect software engineering,
                    <strong>Byteology</strong> helps businesses tackle software complexity and grow.
                </p>

                <ol>
                    <li>
                        We <strong>gather and detail</strong> the information defining <strong>your domain</strong>
                    </li>
                    <li>
                        We design and implement <strong>software solutions</strong>
                    </li>
                    <li>
                        We design and execute complete <strong>recruitment strategies</strong>
                    </li>
                    <li>
                        We tailor custom personnel <strong>training programs</strong>
                    </li>
                </ol>

                <a href="@(Sitemap.GetRouteOf<MissionPage>())">Learn More</a>
            </article>
        </b-hero-content-side>
    </b-hero-layout>
</Slide>
