@page "/"
@layout FullPageScrollingLayout

@using Byteology.Website.Articles.Components
@using Byteology.Website.Company.People
@using Byteology.Website.Inquiry
@using Byteology.Website.Inquiry.Contacts
@using Byteology.Website.Services
@using Byteology.Website.Navigation
@using Byteology.Website.Layout

<Metadata Title="A Moment of Science"
          Description="By introducing scientific generalization to software engineering, Byteology helps businesses tackle software complexity and grow."
          Keywords="@(new string[] { "scientific generalization", "software development", "research", "proof of concept", "poc", "microservices", "migration to microservices", "event sourcing", "consulting", "training", "interviewing", "interviewing as a service" })"/>

<HeroSlide>
    <div class="space-y-8">
        <p class="styled-content text-lg lg:text-xl font-bold">
            By introducing <strong>scientific generalization</strong> to software engineering,
            <strong>Byteology</strong> helps businesses tackle software complexity and grow.
        </p>

        <div class="text-sm md:text-base">
            <ol class="timeline">
                <li>
                    We <strong>gather and detail</strong> the information defining your domain
                </li>
                <li>
                    We derive <strong>actionable data and insights</strong>
                </li>
                <li>
                    We design and implement <strong>tailored solutions</strong>
                </li>
                <li>
                    We help your business <strong>scale and grow</strong>
                </li>
            </ol>
        </div>

        <a href="@(RouteDetector.Match<MissionPage>())"
           class="button">
            Learn More
        </a>
    </div>
</HeroSlide>

<Slide>
    <ServicesList/>
</Slide>

<Slide>
    <Founder/>
</Slide>

<Slide>
    <DefaultInquiryComponent/>
</Slide>
