@layout FullPageScrollingLayout
@page "/"

@using Byteology.Website.Articles.Components
@using Byteology.Website.Company.People
@using Byteology.Website.Inquiry
@using Byteology.Website.Inquiry.Contacts
@using Byteology.Website.Services
@using Byteology.Website.Navigation
@using Byteology.Website.Layout

<Metadata Title="A Moment of Science"
      Description="By introducing scientific generalization to software engineering, Byteology helps businesses tackle software complexity and grow."               Keywords="@(new string[] { "scientific generalization", "software development", "research", "proof of concept", "poc", "microservices", "migration to microservices", "event sourcing", "consulting", "training", "interviewing", "interviewing as a service"})" />

<Slide>
    <Hero class="w-full h-full" />
</Slide>

<Slide class="slide-center md:px-8 py-10">
    <ServicesList class="max-w-7xl" />
</Slide>

<Slide class="slide-center md:px-8 py-10">
    <div class="max-w-md md:max-w-4xl">
        <Founder/>
    </div>
</Slide>

<Slide class="slide-center md:px-8 py-10">
    <div class="max-w-md md:max-w-4xl">
        <DefaultInquiryComponent/>
    </div>
</Slide>

<Slide class="flex flex-col gap-10 items-center justify-between">

        <div class="w-full h-12 flex-none"></div>

        <div class="w-full p-6 md:p-8 flex justify-center
                    bg-dark-900/70 border border-dark-100 shadow-md">
            <Sitemap DisableHomeLink=true />
        </div>

        <PrivacyFooter class="flex-none"/>
</Slide>
