@page "/mission"

@using Byteology.Website.Company.People
@using Byteology.Website.Inquiry

<Metadata Title="Mission"
          Description="There are profound difficulties in simple things and only by understanding and tackling those, you can truly master the ever-growing complexity of modern solutions. This concept is called scientific generalization and it refers to the extent to which findings of an empirical investigation hold for a variation of populations and settings."
          Keywords="@(new string[] { "byteology", "mission", "about us", "about", "scientific generalization", "software", "software engineering" })"/>

<div class="panel styled-content">
    <div class="article-title">
        <CoreIcon />
        <h1>Our Mission</h1>
    </div>
    <p>
        Every problem begins as a simple one and then grows in complexity over time. Complexity differs from difficulty
        though. There are profound difficulties in simple things and only by understanding and tackling those, you can
        truly master the ever-growing complexity of modern solutions.
    </p>
    <p>
        This concept is called <strong>scientific generalization</strong> and it refers to the extent to which findings
        of an empirical investigation hold for a variation of populations and settings.
    </p>
    <p>
        At Byteology, we are constantly studying and building tools and methodologies that support the scientific
        generalization process and it is our mission and passion to bring it into the software engineering world.
    </p>
</div>

<Founder/>

<div class="panel styled-content">
    <p>
        Byteology's main operation is based in Sofia, Bulgaria and is governed by EU jurisdiction and follows EU
        regulations, privacy and compliance laws.
    </p>
</div>

<DefaultInquiryComponent/>
