@page "/privacy"

<Metadata Title="Privacy Policy"
      Description="We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used." 
      Keywords="@(new string[] { "privacy", "policy", "gdpr", "cookies" })" />

<section class="panel styled-content">
    <p>
        Your privacy is important to us. It is Byteology's policy to respect your privacy regarding any information we
        may collect from you across our website.
    </p>
    <p>
        We only ask for personal information when we truly need it to provide a service to you. We collect it by fair
        and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it
        will be used.
    </p>
    <p>
        We only retain collected information for as long as necessary to provide you with your requested service. What
        data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as
        unauthorized access, disclosure, copying, use or modification.
    </p>
    <p>
        We don’t share any personally identifying information publicly or with third-parties, except when required to
        by law.
    </p>
    <p>
        Our website may link to external sites that are not operated by us. Please be aware that we have no control
        over the content and practices of these sites, and cannot accept responsibility or liability for their
        respective privacy policies.
    </p>
    <p>
        If you have additional questions or require more information about our Privacy Policy, do not hesitate to
        contact us.
    </p>
</section>

<section class="panel styled-content">
    <h2>Consent</h2>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
</section>

<section class="panel styled-content">
    <h2>Information we collect</h2>
    <p>
        he personal information that you are asked to provide, and the reasons why you are asked to provide it, will be
        made clear to you at the point we ask you to provide your personal information.
    </p>
    <p>
        If you contact us directly, we may receive additional information about you such as your name, email address,
        phone number, the contents of the message and/or attachments you may send us, and any other information you
        may choose to provide.
    </p>
</section>

<section class="panel styled-content">
    <h2>How we use your information</h2>
    <p>
        We use the information we collect in various ways, including to:
    </p>
    <ul>
        <li>
            Communicate with you directly in order to provide you with updates and other information relating to your
            inquiries
        </li>
        <li>Send you emails</li>
        <li>Provide, operate, and maintain our website</li>
        <li>Understand and analyze how you use our website</li>
    </ul>
</section>

<section class="panel styled-content">
    <h2>Log Files</h2>
    <p>
        Byteology follows a standard procedure of using log files. These files log visitors when they visit websites.
        All hosting companies do this and a part of hosting services' analytics. The information collected by log files
        include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp,
        referring/exit pages, and possibly the number of clicks. These are not linked to any information that is
        personally identifiable. The purpose of the information is for analyzing trends, administering the site,
        tracking users' movement on the website, and gathering demographic information.
    </p>
</section>

<section class="panel styled-content">
    <h2>Cookies and web beacons</h2>
    <p>
        Like any other website, Byteology uses "cookies". These cookies are used to store information including
        visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is
        used to optimize the users' experience by customizing our web page content based on visitors' browser
        type and/or other information.
    </p>
    <p>
        For more general information on cookies, please read
        <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">this Wikipedia article</a>.
    </p>
</section>

<section class="panel styled-content">
    <h2>GDPR data protection rights</h2>
    <p>
        We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to
        the following:
    </p>
    <ul>
        <li>
            <strong>The right to access</strong> – You have the right to request copies of your personal data. We may
            charge you a small fee for this service.
        </li>
        <li>
            <strong>The right to rectification</strong> – You have the right to request that we correct any information
            you believe is inaccurate. You also have the right to request that we complete the information you believe
            is incomplete.
        </li>
        <li>
            <strong>The right to erasure</strong> – You have the right to request that we erase your personal data,
            under certain conditions.
        </li>
        <li>
            <strong>The right to restrict processing</strong> – You have the right to request that we restrict the
            processing of your personal data, under certain conditions.
        </li>
        <li>
            <strong>The right to object to processing</strong> – You have the right to object to our processing of your
            personal data, under certain conditions.
        </li>
        <li>
            <strong>The right to data portability</strong> – You have the right to request that we transfer the data
            that we have collected to another organization, or directly to you, under certain conditions.
        </li>
    </ul>

    <p>
        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
        please contact us.
    </p>
</section>
