@page "/schedule-meeting/{link}"

@layout BasicLayout

<Metadata Title="Schedule a Meeting"
          Description="Don't hesitate to schedule a meeting at your convenience, specifying your preferred time and duration."
          Keywords="@(new string[] { "schedule", "meeting" })" />


<div id="calendly-embed" class="w-full h-[50rem]"></div>
