@page "/schedule-meeting/{link}"

@layout BasicLayout

<Metadata Title="Schedule a Meeting"
          Description="Don't hesitate to schedule a meeting at your convenience, specifying your preferred time and duration."
          Keywords="@(new string[] { "schedule", "meeting" })" />


<div id="calendly-loader" class="calendly-spinner" style="z-index: 0">
    <div class="calendly-bounce1"></div>
    <div class="calendly-bounce2"></div>
    <div class="calendly-bounce3"></div>
</div>

<div id="calendly-embed"></div>