@using Microsoft.AspNetCore.Components.Routing

<nav @onclick:stopPropagation="true" class="@(Detached ? "detached" : "")">

    <a href="/"><img src="/images/logo-landscape.svg" alt="Byteology"></a>

    <NavGroup SitemapVisible="true" NavBarBehaviour="NavGroup.NavBarBehaviourType.Hidden" Name="Company" UrlPrefix="/">
        <NavLink Match="NavLinkMatch.All" href="/mission">Mission</NavLink>
        <NavLink Match="NavLinkMatch.Prefix" href="/career">Career</NavLink>
        <NavLink Match="NavLinkMatch.Prefix" href="/thoughts">Thoughts</NavLink>
        <NavLink Match="NavLinkMatch.All" href="/contacts">Contacts</NavLink>
    </NavGroup>

    <NavGroup NavBarBehaviour="NavGroup.NavBarBehaviourType.Expanded">
        <NavLink Match="NavLinkMatch.All" href="/mission">Mission</NavLink>
    </NavGroup>

    <NavGroup SitemapVisible="true" NavBarBehaviour="NavGroup.NavBarBehaviourType.Collapsed" Name="Services" UrlPrefix="/services">
        <NavLink Match="NavLinkMatch.All" href="/services/software-engineering">Software Engineering</NavLink>
        <NavLink Match="NavLinkMatch.All" href="/services/education-and-training">Education and Training</NavLink>
        <NavLink Match="NavLinkMatch.All" href="/services/strategic-recruitment">Strategic Recruitment</NavLink>
    </NavGroup>

    <NavGroup NavBarBehaviour="NavGroup.NavBarBehaviourType.Expanded">
        <NavLink Match="NavLinkMatch.Prefix" href="/career">Career</NavLink>
        <NavLink Match="NavLinkMatch.Prefix" href="/thoughts">Thoughts</NavLink>
    </NavGroup>
</nav>
