@using Microsoft.AspNetCore.Components.Routing

<nav @onclick:stopPropagation="true" class="@(Detached ? "detached" : "")">

    <a href="/"><img src="/images/logo-landscape.svg" alt="Byteology"></a>

    <section>
        <NavLink tabindex="-1" Match="NavLinkMatch.Prefix" href="/">Company</NavLink>
        <section>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/mission">Mission</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.Prefix" href="/career">Career</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/contacts">Contacts</NavLink>
        </section>
    </section>
    <section>
        <NavLink tabindex="-1" Match="NavLinkMatch.Prefix" href="/services">Services</NavLink>
        <section>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/services/software-development">Software Development</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/services/research-and-poc">Research & PoC</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/services/migration-to-microservices">Migration to Microservices</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/services/event-sourcing">Event Sourcing</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/services/education-and-training">Education and Training</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/services/interviewing-as-a-service">Interviewing as a Service</NavLink>
        </section>
    </section>

    <section>
        <NavLink tabindex="-1" Match="NavLinkMatch.Prefix" href="/thoughts">Thoughts</NavLink>
        <section>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/thoughts/software-development">Software Development</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/thoughts/research-and-poc">Recruitment</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/thoughts/migration-to-microservices">Trainings</NavLink>
            <NavLink tabindex="-1" Match="NavLinkMatch.All" href="/thoughts/migration-to-microservices">Random</NavLink>
        </section>
    </section>
</nav>
