@page "/services/education-and-training"

@using Byteology.Website.Inquiry

<Metadata Title="Education and Training" Article="true"
      Description="Every team will require some sort of training at some point. Unfortunately, teaching a skill requires a different kind of expertise than just knowing it. Byteology will provide you with a number of training services to help your business scale and grow while you focus on your core business." 
      Keywords="@(new string[] { "training", "bootcamps", "onboarding", "documentation", "mentorship", "mentor", "mentor program", "workshop", "service" })" />

<section>
    <b-heading>
        <WhiteboardIcon />
        <h1>Education and Training</h1>
    </b-heading>
    <p>
        Every team will require some sort of training at some point. Unfortunately, teaching a skill requires a
        different kind of expertise than just knowing it. This, coupled with the amount of resources that go into
        training preparations, sometimes makes internal trainings too disruptive.
    </p>
</section>

<section>
    <p>
        Byteology will provide you with a number of training services to help your business scale and grow while you
        focus on your core business.
    </p>
    <b-benefits>

        <b-benefit>
            <b-heading>
                <PeopleIcon/>
                <h3>Bootcamps</h3>
            </b-heading>
            <p>
                A high intensity trainings aimed towards people with little or no experience in order to put them on
                the path of becoming true professionals.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <SignpostIcon/>
                <h3>Onboarding Programs</h3>
            </b-heading>
            <p>
                Instructional materials and documentation aimed at introducing new employees to the project in order to
                increase efficiency, engagement and retention.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <BooksIcon/>
                <h3>Educational Curriculums</h3>
            </b-heading>
            <p>
                A handcrafted syllabus and training materials with the goal of improving certain skills over a long
                period of time.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <NurtureIcon/>
                <h3>Mentorship</h3>
            </b-heading>
            <p>
                Personal sessions with highly experienced professionals with the goal of improving skills and traits by
                giving advice and assistance.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <GearsIcon/>
                <h3>Workshops</h3>
            </b-heading>
            <p>
                Short bursts of practical studies used to improve the general understanding of a concept, skill or
                technology.
            </p>
        </b-benefit>

    </b-benefits>
</section>

<DefaultInquiryComponent/>
