@page "/services/interviewing-as-a-service"

@using Byteology.Website.Inquiry

<Metadata Title="Interviewing as a Service" Article="true"
      Description="How do you craft a successful job advert? How do you identify a great candidate? How do you even know what a “great candidate” is? We have spent over a decade thinking about these problems and are ready to share some of our findings in this guide."
      Keywords="@(new string[] { "interviewing", "hiring", "interviewing as a service", "iaas", "guide", "job application", "job adverts" })" />

<section>
      <b-heading>
            <CvIcon />
            <h1>Interviewing as a Service</h1>
      </b-heading>
      <p>
            Employees are the lifeblood of every company. They are the ones creating our products, providing our services driving our
            growth and innovation. Because of this, it is of utmost importance to choose them with care.
      </p>
      <p>
            Unfortunately, hiring the right person for a position is a long process full of pitfalls. It starts as soon as someone in
            the company identifies a need for another position and ends when a person is hired and integrated within the team.
      </p>
</section>

<section>
      <h2>Step 1 - Skill Canvas</h2>
      <p>
            Of course, this is not a job for a single person. There is a group of people like recruiter, sourcer, HR manager, 
            team leader, team members, etc. that all have their parts to play and to achieve best results, they all have to be 
            working towards a common and clear goal.
      </p>
      <p>
            In order to establish this goal, you need to put down in writing a list of unambiguously described skills of what you are
            looking for in a candidate.  We call this list a skill canvas and it helps us craft job descriptions, prepare interview 
            scenarios, filter candidates and build proper training and onboarding procedures, in such a way that all of these will 
            work together towards the same goal.
      </p>
</section>

<section>
      <h2>Step 2 - Scope</h2>
      <p>
            When recruiting we are always constrained by some kind of resources. It could be a deadline, the availability of key 
            people involved in the process, finances, candidates expectations, etc.

      </p>
      <p>
            Being aware of these constraints allows you to make trade-offs that will increase your chances of success tremendously. 
      </p>
      <p>
            Maybe you will reduce the workload on some of the people involved at the cost of money by outsourcing a part of the
            process. Maybe you will reduce the danger of hitting a deadline at the cost of consistency by having multiple teams tackle
            the same position. Maybe you will increase the number of candidates being interviewed at the cost of reducing the
            thoroughness of the interviews.

      </p>
      <p>
            In any case you can make an informed decision only after you have defined the scope in which you'll be working.
      </p>
</section>

<section>
      <h2>Step 3 - Sourcing</h2>
      <p>
            Sourcing is the process of actively or passively finding and engaging suitable candidates. 
      </p>
      <p>
            Its goal is to find a number of candidates defined by the scope of the recruitment process that have the highest chance
            of success given the skill canvas that was created beforehand.
      </p>
      <p>
            Sourcing is ill-equipped to evaluate potential candidates, this is what interviews are for, but it has a handful of tools
            to encourage suitable candidates to apply and discourage unsuitable ones. 

      </p>
      <p>
            This is a tricky and unintuitive process for which you can learn more <a href="/thoughts/interviewing">here</a>.
      </p>
</section>

<section>
      <h2>Step 4 - Interviewing</h2>
      <p>
            After the sourcing process has provided a short list of candidates, comes the time to interview them. The goal of the
            interview(s) is to evaluate candidates according to the skill canvas we have created previously.
      </p>
      <p>
            This means that the process shouldn't test candidates on knowledge but rather on skills and this can be tricky as it
            requires a skillset that does not necessarily align with the skillset of the domain experts. You can find some tips and
            tricks <a href="/thoughts/interviewing">here</a>.

      </p>
</section>

<section>
      <h2>Step 5 - Onboarding and Training</h2>
      <p>
            Contrary to the popular belief, the recruitment process doesn't end with hiring. It is highly unlikely for a fresh hire 
            to be a fully integrated team member perfectly wielding all the skills from the skill canvas right from the start. 

      </p>
      <p>
            Because of that it is of utmost importance to have procedures in place both for general onboarding for any particular
            position and for specialized training for the new hire that also doubles as a career development path.

      </p>
</section>

<section>
      <h2>What We Do</h2>
      <p>
            We have spent over a decade practicing and thinking about the problems of recruitment and are ready to help you with any
            part or the entirety of the process. We will:
      </p>
      <ol>
            <li>
                  Assist you in defining exactly what you are looking for in your future employees and create a skill canvas that 
                  will help you align all your efforts towards a common goal.
            </li>
            <li>Help you define your recruitment scope and look for strategies specifically tailored for your needs.</li>
            <li>Craft job adverts and sourcing strategies that will attract only the right candidates.</li>
            <li>
                  Craft specialized interviews in order to determine if a candidate possesses the personal and technical skills you 
                  are looking for at the appropriate levels of expertise.
            </li>
            <li>
                  Interview the candidates on your behalf, allowing your domain experts to focus on the core business of the
                  organization.
            </li>
            <li>
                  Prepare a detailed report containing the personal and technical skill levels of each candidate along with a
                  comprehensive argumentation on why we believe so.
            </li>
            <li>
                  Provide feedback to each candidate that has reached the interview phase, thus increasing positive brand awareness 
                  and maintaining a healthy talent pool. 
            </li>
            <li>
                  Assist with the creation of onboarding programs and specialized trainings for both personal and technical skills.
            </li>
      </ol>
</section>


<DefaultInquiryComponent/>
