@page "/services/research-and-poc"

@using Byteology.Website.Inquiry

<Metadata Title="Research and PoC" Article="true"
          Description="A proof of concept doesn't produce deliverables, as the core issue being considered is the feasibility of the project. Because of this it can be developed quickly and undergo many iterations, thus allowing it to provide valuable insights about the project before the actual development has begun."
          Keywords="@(new string[] { "proof of concept", "research", "outsource", "service" })" />

<section>
    <b-heading>
        <PageLightbulbIcon />
        <h1>Research and PoC</h1>
    </b-heading>
    <p>
        A proof of concept (or PoC for short) is the first and arguably one of the most essential steps in the software
        development process.
    </p>
    <p>
        A proof of concept doesn't produce deliverables, as the core issue being considered is the feasibility of the
        project. Because of this it can be developed quickly and undergo many iterations, thus allowing it to provide
        valuable insights about the project before the actual development has begun.
    </p>
</section>

<section>
    <h2>Benefits</h2>
    <p>Here are some of the main benefits of using PoC during the early development stages of your projects:</p>
    <b-benefits>

        <b-benefit>
            <b-heading>
                <IdeaIcon />
                <h3>Idea validation</h3>
            </b-heading>
            <p>
                Innovation happens at the intersection of technological viability and market demand. A PoC will help
                you check if your idea can be built using current technology.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <MagnifiedQuestionIcon />
                <h3>Risk identification</h3>
            </b-heading>
            <p>
                A proof of concept helps in identifying problems, limitations, roadblocks and other kinds of risks,
                thus allowing them to be tackled early in the design when it is least expensive.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <StackIcon />
                <h3>Better technology stack</h3>
            </b-heading>
            <p>
                A proof of concept undergoes many iterations in a short amount of time. Because of this it is a great
                tool to identify which technology stack is the most suitable for your project. This way, you'll be
                using the right tools for the job which solves a lot of problems before they even occur.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <TimeplanIcon />
                <h3>Clear business plan</h3>
            </b-heading>
            <p>
                A proof of concept highlights the project's top priorities and requirements. With what you will learn
                from a PoC, it is easier to set up a more accurate project timeline and roadmap as well as to better
                predict costs.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <TimeAndMoneyIcon />
                <h3>Save time and money</h3>
            </b-heading>
            <p>
                By picking the right technologies and identifying potential risks in advance, PoCs save a lot of time
                and money. There is no available statistics on how much exactly but we have seen cases of 34% reduction
                of costs by risk mitigation alone.
            </p>
        </b-benefit>

        <b-benefit>
            <b-heading>
                <HandMoneyIcon />
                <h3>Investors interest</h3>
            </b-heading>
            <p>
                You can build a PoC to present your idea to investors to acquire seed funding for further development.
            </p>
        </b-benefit>

    </b-benefits>
</section>

<section>
    <p>
        Creating a successful proof of concept requires a whole set of skills that differ from those needed for the
        actual development of the software. Because of this it might be a good idea to outsource your PoCs in certain
        situations. If this is the case, don't hesitate to contact us. We have spent years honing our PoC crafting
        skills and we'll be happy to assist you in your next endeavor.
    </p>
</section>

<DefaultInquiryComponent />
