<div class="grid grid-cols-[max-content_1fr] auto-rows-max gap-x-8 items-baseline
            md:flex md:flex-col md:gap-y-4">

    <div class="contents md:flex md:flex-col">
        <p class="col-start-1 md:order-[-2]
                  text-body lg:text-lg text-accent font-bold">
            Tsvetan Igov
        </p>
        <p class="col-start-1 md:order-[-1] md:mb-2
                  text-xs lg:text-sm font-bold">
            Founder
        </p>

        <ContactDetail Type="ContactDetail.DetailType.Phone" Value="+359 876 535 938" />
        <ContactDetail Type="ContactDetail.DetailType.Email" Value="tsvetan.igov@byteology.net" />

        <div class="md:hidden w-1 h-4 col-span-2"></div>
    </div>

    <div class="contents md:flex md:flex-col">
            <p class="col-start-1 md:order-[-2]
                      text-body lg:text-lg text-accent font-bold">
                Office
            </p>
            <p class="col-start-1 md:order-[-1] md:mb-2
                      text-xs lg:text-sm font-bold">
                Sofia, Bulgaria
            </p>

            <ContactDetail Type="ContactDetail.DetailType.Address" Value="5 Hristo Belchev str." />
            <ContactDetail Type="ContactDetail.DetailType.Email" Value="contact@byteology.net" />
        </div>

</div>
