@if(@Type == DetailType.Address)
{
    <p class="col-start-2
              text-xs md:text-sm break-words">
        @Value
    </p>
}

@if(@Type == DetailType.Phone)
{
    <a class="col-start-2
              link text-xs md:text-sm break-all" 
        href="tel:@Value">
        @Value
    </a>
}

@if(Type == DetailType.Email)
{
    <a class="col-start-2
              link text-xs md:text-sm break-all" 
        href="mailto:@Value">
        @Value
    </a>
}

@code {
    [Parameter, EditorRequired]
    public DetailType Type { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Value { get; set; } = default!;

    public enum DetailType
    {
        Address,
        Phone,
        Email
    }
}
