@inherits Microsoft.AspNetCore.Components.Forms.InputCheckbox

<b-checkbox @attributes="AdditionalAttributes" class="@CssClass">
    <input id="@_id" type="checkbox"
        @bind="CurrentValue"
        @bind:event="onchange"/>

    <label for="@_id">@Label</label>
</b-checkbox>
