/* /Components/Carousel.razor.rz.scp.css */
.radio_input:checked + label[b-5tn5n5rm33] {
    /*left: 0;*/
}


.radio_input:not(:checked) + label[b-5tn5n5rm33] {
/*    transform: scale(0.5);
    left: calc(25rem + 12.5rem * (var(--position)) + 10px)*/

}

label[b-5tn5n5rm33] {
    /*transform-origin: top left;*/

    transform: translateX(-50%) scale(calc(1 - 0.4 * var(--absoffset)));
    left: calc(50% + 23rem * var(--offset));
    opacity: calc(1 - 0.4 * var(--absoffset));
}

/* /Components/Timeline.razor.rz.scp.css */
.timeline[b-5gqou3bbw5] {
    counter-reset: timeline-counter;
}

.timeline > li > .bullet[b-5gqou3bbw5]::before {
    counter-increment: timeline-counter;
    content: counter(timeline-counter);
}

.timeline > li:nth-child(-n+9) > .bullet[b-5gqou3bbw5]::before {
    content: '0'counter(timeline-counter);
}

.timeline > li:last-child > .line[b-5gqou3bbw5] {
    display: none;
}
