@using Byteology.Website.Inquiry
@using Byteology.Website.Inquiry.Contacts

<InquiryComponent Contacts="ContactCollection.InquiryContacts">
    <CallToAction>
        <h2>Here's to working together</h2>
        <p>
            Don't hesitate to reach out to us with any request and we will help you the best we can. We usually answer
            within 2 business days.
        </p>
    </CallToAction>
</InquiryComponent>
