<div class="markdown">
    @if (!string.IsNullOrEmpty(Content))
    {
        @(new MarkupString(Markdig.Markdown.ToHtml(Content)))
    }
</div>

@code {
    [Parameter, EditorRequired]
    public string? Content { get; set; }
}
