@if (Icon == null)
{
    <div class="styled-content">
        <h1>@Text</h1>
    </div>
}
else
{
    <div class="flex items-center gap-4 first-child:w-14">
        <ProxyComponent ComponentToRender="Icon" />
        <div class="styled-content">
            <h1>@Text</h1>
        </div>
    </div>
}

@code
{
    [Parameter, EditorRequired]
    public string Text { get; set; } = default!;

    [Parameter]
    public Type? Icon { get; set; }

}
