<li class="group flex gap-[2em]">

        <div class="
                    bullet pt-[0.125em]
                    text-[0.875em] font-bold text-accent" />

        <div class="
                    line absolute left-[calc(0.875ch_-_1px)] top-[1.5em] w-[2px] h-[calc(100%_-_0.5em)]
                    bg-accent text-accent" />

        <div>@ChildContent</div>
</li>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
