<section>
    <b-heading>
        <GearsIcon />
        <h1>.NET Engineer</h1>
    </b-heading>
    <p>
        You'll be working together with other team members on our clients' and our own products. We are striving to deliver
        amazing quality so be prepared for a lot of code reviews, programming and architectural discussion and code
        analysis.
    </p>
</section>

<section>
    <h2>What we offer</h2>
    <ul>
        <li>You can choose to work from home, from a co-working space near you or from the office</li>
        <li>You can work whenever you want</li>
        <li>You won't be expected to work more than 6 hours a day</li>
        <li>€3600 net salary</li>
    </ul>
</section>

<section>
    <h2>What are we looking for</h2>
    <ul>
        <li>Proven experience developing business-grade level .NET applications</li>
        <li>The ability to think deeply about simple things</li>
        <li>Willingness to accept change</li>
        <li>A desire to learn and improve</li>
        <li>Good written and verbal English</li>
        <li>EU citizenship</li>
    </ul>
</section>

<section>
    <h2>About the interview</h2>
    <p>
        The interview will be an 90 minute-long discussion of programming topics with the occasional technical question.
        We'll ask you for your opinion on stuff and then try to challenge you. Your goal will be to either successfully
        defend your argument or to explain why you are willing to reconsider it.
    </p>
    <p>
        At the end of the interview and regardless
        of its outcome you will receive honest feedback and suggestions on how to improve both your programming and
        interview skills.
    </p>
</section>
