<section>
    <b-heading>
        <GearsIcon />
        <h1>.NET Engineer</h1>
    </b-heading>
    <p>
        You'll be assigned a personal mentor with a long history of working in the industry. Together you will work on
        both our clients' and our own products. Our goal is to kickstart your professional development and help you
        become the best software engineer you can be.
    </p>
</section>

<section>
    <h2>What we offer</h2>
    <ul>
        <li>You can choose to work from home, from a co-working space near you or from the office</li>
        <li>You can work whenever you want</li>
        <li>You won't be expected to work more than 6 hours a day</li>
        <li>Your own personal mentor that will help you grow and prepare you for your future endeavors</li>
        <li>€1600 - €2000 net salary</li>
    </ul>
</section>

<section>
    <h2>What are we looking for</h2>
    <ul>
        <li>Any previous experience with .NET (open source contributions or hobby projects are just fine)</li>
        <li>The ability to think deeply about simple things</li>
        <li>Willingness to accept change</li>
        <li>A desire to learn and improve</li>
        <li>Good written and verbal English</li>
        <li>EU citizenship</li>
    </ul>
</section>

<section>
    <h2>About the interview</h2>
    <p>
        The interview will be an 90 minute-long discussion of programming topics with the occasional technical question.
        We'll ask you for your opinion on stuff and then try to challenge you. Your goal will be to either successfully
        defend your argument or to explain why you are willing to reconsider it.
    </p>
    <p>
        At the end of the interview and regardless
        of its outcome you will receive honest feedback and suggestions on how to improve both your programming and
        interview skills.
    </p>
</section>
