<b-card>
	<b-title>
		<PaperCategoryIcon Category="Metadata.Category" />
		<h1>
			@Metadata.Title
			@if(!string.IsNullOrEmpty(Metadata.Subtitle))
			{
				<span>@Metadata.Subtitle</span>
			}
		</h1>
	</b-title>
	<p>@Metadata.Description</p>
	<a href="@PapersRepository.GetPaperUrl(Metadata.Handle)">Learn More</a>

</b-card>
