<div class="grid grid-cols-[max-content_1fr] auto-rows-max gap-x-8 items-baseline
            md:flex md:flex-col md:gap-y-4">
        
    @foreach(ContactModel contact in _contacts)
    {
        <div class="contents md:flex md:flex-col">

            @for (int i = 0; i < contact.Details.Length; i++)
            {
                @if (i == 0)
                {
                    <p class="col-start-1 md:order-[-2]
                              text-body md:text-lg text-accent font-bold">
                        @contact.Name
                    </p>
                }

                @if (i == 1)
                {
                    <p class="col-start-1 md:order-[-1] md:mb-2
                              text-xs md:text-sm font-bold">
                        @contact.Title
                    </p>
                }

                <ContactDetail Detail="contact.Details[i]" />
            }

            @if(contact != _contacts.Last())
            {
                <div class="md:hidden w-1 h-4 col-span-2"></div>
            }

        </div>
    }

</div>