@if(Detail.Type == DetailType.Address)
{
    <p class="col-start-2
              text-xs md:text-sm break-words">
        @Detail.Value
    </p>
}

@if(Detail.Type == DetailType.Phone)
{
    <a class="col-start-2
              link text-xs md:text-sm break-all" 
        href="tel:@Detail.Value">
        @Detail.Value
    </a>
}

@if(Detail.Type == DetailType.Email)
{
    <a class="col-start-2
              link text-xs md:text-sm break-all" 
        href="mailto:@Detail.Value">
        @Detail.Value
    </a>
}
