<section class="border border-dark-100 shadow-md">
    <div class="bg-dark-900/70 space-y-4 p-8">
        <h1 class="text-lg font-bold text-accent uppercase">@Header</h1>
        @if (!string.IsNullOrEmpty(Text))
        {
            @(new MarkupString(Markdown.ToHtml(Text)))
        }

        <Timeline class="text-sm md:text-base text-accent" 
            Items="@Items" Context="item">
            <Item>
                <p class="text-neutral-100">@(new MarkupString(Markdown.ToHtml(item)))</p>
            </Item>
        </Timeline>
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public string Header { get; set; } = null!;

    [Parameter]
    public string? Text { get; set; }

    [Parameter, EditorRequired]
    public string[] Items { get; set; } = null!;
}