<section class="bg-dark-900/70 border border-dark-100 shadow-md p-8 space-y-4">
    <div class="flex items-center gap-4">
        @if (Icon != null)
        {
            <ProxyComponent class="flex-none self-center w-10" ComponentToRender="Icon" />
        }
        <h1 class="text-accent text-xl font-bold uppercase">@Header</h1>
    </div>
    @if (!string.IsNullOrEmpty(Text))
    {
        @(new MarkupString(Markdown.ToHtml(Text)))
    }
</section>

@code
{
    [Parameter, EditorRequired]
    public string Header { get; set; } = null!;

    [Parameter]
    public Type? Icon { get; set; }

    [Parameter]
    public string? Text { get; set; }
}