@namespace Byteology.Website.Components.DesignSystem

<section class="space-y-8">
    <h2 class="text-h1 font-bold text-accent">Typography</h2>
    <div class="grid grid-cols-1 laptop:grid-cols-2 gap-x-4 gap-y-4">
        <div class="space-y-4 col-span-1">
            <div> 
                <p class="text-secondary">Heading 1 - Archivo - 2.5rem - 1.1 line spacing</p>
                <p class="text-h1">Event Sourcing</p>
            </div>
            <div> 
                <p class="text-secondary">Heading 2 - Archivo - 2rem - 1.1 line spacing</p>
                <p class="text-h2">Our services</p>
            </div>
            <div> 
                <p class="text-secondary">Heading 3 - Archivo - 1.5rem - 1.1 line spacing</p>
                <p class="text-h3">Here’s an overview of our services</p>
            </div> 
        </div>
        <div class="space-y-4 col-span-1">
            <div> 
                <p class="text-secondary">Body - Archivo - 1rem - 1.5 line spacing</p>
                <p class="text-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh.</p>
            </div>
            <div> 
                <p class="text-secondary">Details - Archivo - 0.875rem - 1.5 line spacing</p>
                <p class="text-detail">June 2022</p>
            </div>
                
        </div>
    </div>
</section>