@using Byteology.Website.Components.Input
@using Microsoft.AspNetCore.Components.Forms

@inherits ByteologyComponent

<EditForm 
    Model="_inquiryModel" 
    OnValidSubmit="onSubmit"
    @attributes=AdditionalAttributes
    class=@($@"grid grid-cols-2 gap-8 {CssClass}") >

    <DataAnnotationsValidator />

    <TextInput Label="Name" Placeholder="John Doe" @bind-Value=_inquiryModel.Name class="col-span-2 md:col-span-1" autocomplete="name" />
    <TextInput Label="Email" Placeholder="exaple@mail.com" @bind-Value=_inquiryModel.Email class="col-span-2 md:col-span-1" autocomplete="email"/>
    <TextArea Label="Message" Placeholder="Type your message here..." @bind-Value=_inquiryModel.Message class="col-span-2" autocomplete="off"/>
    <Checkbox Label=@ConcentText @bind-Value=_inquiryModel.Consent class="col-span-2 text-xs text-neutral-200 hocus:text-neutral-100 transition-fast" />
    <TextInput Label="Honeycomb" Placeholder="Honeycomb" @bind-Value=_inquiryModel.Honeycomb class="hidden" />
        
    <button 
        type="submit"
        class="button p-2 col-span-2">

        @SubmitInquiryText

    </button>

</EditForm>