@using Byteology.Website.Data.Models.HomePage.InquirySegment

@if(Model.Type == ContactDetailType.Address)
{
    <p class="col-start-2
              text-xs break-words">
        @Model.Value
    </p>
}

@if(Model.Type == ContactDetailType.Phone)
{
    <a class="col-start-2
              link text-xs break-all" 
        href="tel:@Model.Value">
        @Model.Value
    </a>
}

@if(Model.Type == ContactDetailType.Email)
{
    <a class="col-start-2
              link text-xs break-all" 
        href="mailto:@Model.Value">
        @Model.Value
    </a>
}

@code {
    [Parameter, Required]
    public ContactDetailModel Model { get; set; } = default!;
}