<b-article>
	<h2>
		<ArticleIcon Category="Article.Category" />
		<b-title>@Article.Title</b-title>
	</h2>
	<p>@Article.Description</p>
	<a href="thoughts/@Article.Handle">Learn More</a>

</b-article>
