<Metadata Title="@Metadata.Title" Description="@Metadata.Intro" Article="true" Keywords="@Metadata.Keywords"/>

<section>
    <b-heading>
        <ArticleCategoryIcon Category="Metadata.Category"/>
        <h1>@Metadata.Title</h1>
    </b-heading>
    @ChildContent
</section>
