<b-card>
	<b-title>
		<ArticleIcon Category="Article.Category" />
		<h1>
			@Article.Title
			@if(!string.IsNullOrEmpty(Article.Subtitle))
			{
				<span>@Article.Subtitle</span>
			}
		</h1>
	</b-title>
	<p>@Article.Description</p>
	<a href="thoughts/@Article.Handle">Learn More</a>

</b-card>
