@if (Detail.Type == ContactDetailType.Address)
{
    <p>@Detail.Value</p>
}

@if (Detail.Type == ContactDetailType.Phone)
{
    <a href="tel:@Detail.Value">@Detail.Value</a>
}

@if (Detail.Type == ContactDetailType.Email)
{
    <a href="mailto:@Detail.Value">@Detail.Value</a>
}
