<div class="fixed w-1/2 h-1/2 hero-mask bg-gradient-to-br from-dark-100 via-dark-900 to-dark-900"></div>
<div class="fixed bottom-0 right-0 w-1/2 h-1/2 hero-mask bg-gradient-to-tl from-dark-100 via-dark-900 to-dark-900"></div>
<div class="fixed w-full h-full bg-gradient-to-br to-dark-700" style="--tw-gradient-stops: transparent, transparent 25%, var(--tw-gradient-to), transparent 75%, transparent;"></div>