@inherits StyleableComponent

@using Microsoft.AspNetCore.Components.Routing

<footer @attributes=AdditionalAttributes
        class="w-full leading-[3rem] bg-dark-900 border border-dark-100 shadow-md 
               text-xs text-center text-neutral-300
               flex items-center justify-center @CssClass">

    <span>@(_model.Copyright.Replace("{year}", DateTime.Now.Year.ToString())) |&nbsp;</span>
    <NavLink class="transition-fast 
                    underline hocus:text-accent-300" 
             href="@(_routeManager.Match<Privacy>()?.GetUrl())"
             Match="NavLinkMatch.All">
        @_model.PrivacyPolicyText
    </NavLink>

</footer>