<footer class="w-full mt-auto p-1 
               bg-dark-900 border border-dark-100 shadow-md 
                text-xs text-center text-neutral-300">

    @(_model.Copyright.Replace("{year}", DateTime.Now.Year.ToString())) | 
    <a class="transition-fast underline hocus:text-primary-300" href="@(_routeManager.Match<Privacy>()?.GetUrl())">@_model.PrivacyPolicyText</a>

</footer>