@inherits StyleableComponent

<div @attributes=AdditionalAttributes class="border border-dark-100 shadow-md @CssClass">
    <div class="grid grid-cols-1 md:grid-cols-[minmax(15rem,_1fr)_3fr]">
        <div class="row-start-2 md:row-start-1 md:row-span-2 bg-dark-700/70 flex md:flex-col md:justify-evenly items-center md:items-start">

            <img class="flex-1 w-16 md:flex-none md:w-auto
                object-center object-contain
                content-[url(/images/igov.png)]
                grayscale scale-x-[-1]"
            alt="Tsvetan Igov"/>
            <div class="flex-auto md:flex-none px-8 py-4 md:self-center">
                <h1 class="font-bold text-accent uppercase">Tsvetan Igov</h1>
                <h2 class="text-sm font-bold uppercase md:text-center">Founder</h2>
            </div>

        </div>
        <div class="bg-dark-900/70 p-8 space-y-4">
            <h1 class="text-lg font-bold text-accent uppercase">Here's who is behind Byteology</h1>
            <ul>
                <li>Software Engineer and Technical Architect</li>
                <li>MENSA International member</li>
                <li>Extensive experience in project management and leading teams of software engineers</li>
                <li>Experienced in the development of e-banking software for one of the largest independent financial service providers in Central and Eastern Europe</li>
                <li>Experienced in designing software architecture for the energy sector</li>
                <li>Former Head of Software Development</li>
            </ul>
        </div>
    </div>
</div>