<div @attributes="InputAttributes">
    <div class="h-full flex items-center
                border-solid border-[0.125em]
                transition duration-500
                @_themedClasses.Value">
        <a class="w-full 
                  px-[1.25em] py-[0.75em] 
                  uppercase text-center font-bold" 
           href="@Url">@Text</a>
    </div>
</div>


@code 
{
    private ThemedValue _themedClasses => new(() => Theme, 
        Primary ? 
            "bg-accent border-accent text-light hocus:bg-accent-light hocus:border-accent-light" : 
            "bg-transparent border-accent text-accent hocus:bg-accent-light hocus:text-light hocus:border-accent-light",
        Primary ?
            "bg-accent border-accent text-light hocus:bg-accent-light hocus:border-accent-light" : 
            "bg-transparent border-secondary text-light hocus:bg-accent-light hocus:border-accent-light"
    );
}