<div @attributes="InputAttributes">
    <a class="block px-[1.25em] py-[0.75em] uppercase text-center font-bold text-detail border-none transition duration-500
              bg-accent border-accent text-light hover:text-light hover:bg-accent-light hover:border-accent" href="@Url">@Text</a>
</div>
