<div class="flex items-center
            border-solid border-2
            transition-normal
            uppercase text-center font-bold
            cursor-pointer
            @getTypeClasses() @Class" >
    <a class="block w-full" href="@Url" @attributes="InputAttributes">@Text</a>
</div>

@code 
{
    private string getTypeClasses()
    {
        return Type switch
        {
            ButtonType.Primary => "bg-active border-active text-active-fg hocus:bg-active-hover hocus:border-active-hover",
            ButtonType.Secondary => "bg-transparent border-passive hocus:bg-passive hocus:border-passive hocus:text-passive-fg",
            _ => string.Empty
        };
    }
}