<div class="flex items-center
            border-solid border-2
            transition duration-500
            uppercase text-center font-bold
            cursor-pointer
            @_themedClasses.Value @Class">
    <a class="block w-full" href="@Url" @attributes="InputAttributes">@Text</a>
</div>

@code 
{
    private ThemedValue _themedClasses => new(() => Theme,
        light: Type switch
        {
            ButtonType.Primary => "bg-accent border-accent text-light hocus:bg-accent-light hocus:border-accent-light",
            ButtonType.Secondary => "bg-transparent border-accent text-accent hocus:bg-accent-light hocus:border-accent-light hocus:text-light",
            ButtonType.Tertiary => "bg-transparent border-accent text-accent hocus:border-accent-light hocus:text-accent-light",
            _ => string.Empty
        },
        dark: Type switch
        {
            ButtonType.Primary => "bg-accent border-accent text-light hocus:bg-accent-light hocus:border-accent-light",
            ButtonType.Secondary => "bg-transparent border-secondary text-light hocus:bg-secondary hocus:border-secondary",
            ButtonType.Tertiary => "bg-transparent border-secondary text-light hocus:border-accent-light",
            _ => string.Empty
        }
    );
}