<div class="flex items-center
            border-solid border-2
            transition duration-500
            uppercase text-center font-bold
            cursor-pointer
            @_themedClasses.Value @Class">
    <a class="block w-full" href="@Url" @attributes="InputAttributes">@Text</a>
</div>

@code 
{
    private ThemedValue _themedClasses => new(() => Theme, 
        light: Primary ? 
            "bg-accent border-accent text-light hocus:bg-accent-light hocus:border-accent-light" : 
            "border-accent text-accent hocus:text-light hocus:border-accent-light",
        dark: Primary ?
            "bg-accent border-accent text-light hocus:bg-accent-light hocus:border-accent-light" : 
            "border-secondary text-light hocus:border-accent-light"
    );
}