@inherits ByteologyComponent

<div @attributes=AdditionalAttributes
     id="page" 
     tabindex="0"
     class="page
            overflow-x-hidden overflow-y-auto
            @(FullPageScrolling ? 
                "w-full h-full snap-y snap-mandatory no-scrollbar" :
                "min-h-screen")
            @CssClass"
      >

    <Background/>

    @ChildContent

    @if (FullPageScrolling)
    {
        <div class="block !mt-0 h-8" /> 
    }

</div>
