<div id="page" 
     tabindex="0"
     class="page text-neutral-100
            overflow-x-hidden overflow-y-auto
            @(FullPageScrolling ? 
                "w-full h-full snap-y snap-mandatory no-scrollbar" :
                "min-h-screen")">

    <Background/>

    @ChildContent

</div>
