<section class="h-vvp container mx-auto
                overflow-x-hidden overflow-y-auto no-scrollbar
                flex flex-col justify-between items-center">

    <div class="min-h-[1rem] w-full" @ref=_startElement />
    @ChildContent
    <div class="min-h-[1rem] w-full" @ref=_endElement />

</section>