<CascadingValue Name="Theme" Value="Theme">
    <section class="snap-start snap-always scroll-mt-8 h-[calc(100vh_-_4rem)] overflow-auto no-scrollbar
                    container p-8 w-[calc(100%_-_4rem)]
                    @_sectionThemedClasses.Value">

        @ChildContent

    </section>
</CascadingValue>

@code {
    private ThemedValue _sectionThemedClasses => new(() => Theme, light: "bg-light text-dark", dark: "bg-dark text-light");
}