<section class="h-[calc(100_*_var(--vh,_1vh))]
                snap-start snap-always 
                flex justify-center items-center
                overflow-y-auto overflow-x-hidden 
                ">

    <div class="container max-h-full
                portrait:py-8 xs:py-8
                landscape:px-8 xs:px-8
                overflow-x-hidden
                no-scrollbar
                ">
               
        @ChildContent

    </div>

</section>
