<section class="w-full h-screen
                overflow-x-hidden overflow-y-auto no-scrollbar
                flex flex-col">

        <div class="w-screen min-h-[1rem]" @ref=_startElement />

        <div class="xs:px-8 grow flex justify-items-center items-center">
            @ChildContent
        </div>

        <div class="w-screen min-h-[1rem]" @ref=_endElement />
</section>