<section class="
                h-screen
                snap-always snap-start
                
                ">

    <div class="
                flex flex-col justify-center mx-auto
                transition-all duration-1000
                container h-[calc(100_*_var(--vh,_1vh))]
                portrait:py-8 xs:py-8
                landscape:px-8 xs:px-8
                overflow-x-hidden
                overflow-y-auto
                no-scrollbar
                ">
               
        @ChildContent

    </div>

</section>

@*<div class="transition-all duration-[10s]" style="height: calc((1vh - var(--vh, 1vh)) * 100)" />*@

