<section class="h-screen
                snap-start snap-always 
                portrait:py-8 xs:py-8
                landscape:px-8 xs:px-8
                flex justify-items-center items-center
                overflow-y-auto overflow-x-hidden 
                no-scrollbar
                ">

    <div class="container
                m-auto
                overflow-hidden">
               
        @ChildContent

    </div>

</section>
