<section class="transition duration-100
                h-screen
                snap-always snap-start
                pb-[calc(100_*_(1vh_-_var(--vh,_1vh)))]
                ">

    <div class="h-full
                flex flex-col justify-center mx-auto
                container
                portrait:py-8 xs:py-8
                landscape:px-8 xs:px-8
                overflow-x-hidden
                overflow-y-auto
                no-scrollbar
                ">
               
        @ChildContent

    </div>

</section>
