@inherits ByteologyComponent

<div @attributes=AdditionalAttributes>
    <ol class="timeline h-full space-y-[1em] flex flex-col">
        @for (int i = 0; i < Items.Length; i++)
        {
            <li class="group flex gap-[1.5em] @(i != Items.Length - 1 ? "grow" : "")">

                <div class="
                        bullet pt-[0.125em] 
                        text-[0.875em] font-bold text-emph" />

                <div class="
                        line absolute left-[calc(0.875ch_-_1px)] top-[1.5em] w-[2px] h-[calc(100%_-_0.5em)]
                        bg-emph" />

                <div class="transition-fast group-hover:scale-105">@Items[i]</div>
            </li>
        }
    </ol>
</div>

@code {
    [Parameter, Required, MinLength(1)]
    public MarkupString[] Items { get; set; } = default!;
}