@using Microsoft.AspNetCore.Components.Forms

@inherits InputCheckbox

<div @attributes=AdditionalAttributes class="flex gap-4 @CssClass" >
    <input 
        @bind="CurrentValue"
        @bind:event="onchange"
        id="@_id"
        type="checkbox"
        class="
            appearance-none text-base
            flex-none self-center w-6 h-6 
            transition-normal
            border-2 border-primary
            hover:border-primary-light focus:!border-primary-light [.invalid_>_&]:border-error
            before:inline-block before:w-[40%] before:h-[60%]
            checked:before:border-b-2 checked:before:border-r-2 
            before:border-fg
            before:left-[30%] before:-top-[15%] before:relative 
            before:rotate-45 
            cursor-pointer" />

    <label 
        for="@_id"
        class="cursor-pointer">
            @Label
    </label>
</div>

@code {
    private readonly Guid _id = Guid.NewGuid();

    [Parameter]
    public string? Label { get; set; }
}