@using Microsoft.AspNetCore.Components.Forms

@inherits InputText

<div @attributes=AdditionalAttributes class=@CssClass>
    <label for="@_id" class="font-bold text-detail">@Label</label>
    <input
        @bind="CurrentValueAsString"
        @bind:event="onchange"
        id="@_id"
        type="text"
        placeholder="@Placeholder"
        class="
            block w-full overflow-hidden pl-4
            transition-normal
            bg-transparent text-detail
            border-b-2 border-solid border-accent
            placeholder:italic
            hover:border-accent-alt
            [.invalid_>_&]:border-error
            focus:!border-accent-alt 
            placeholder:text-fg-inactive" />

</div>

@code {
    private readonly Guid _id = Guid.NewGuid();

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string? Label { get; set; }
}