@using Microsoft.AspNetCore.Components.Forms

@inherits InputTextArea

<div @attributes=AdditionalAttributes class=@CssClass>
    <label for="@_id" class="font-bold text-detail">@Label</label>

    <div class="text-area-wrapper
                grid mt-2
                after:whitespace-pre-wrap after:invisible after:pl-4
                after:row-start-1 after:row-end-2 after:col-start-1 after:col-end-1
                after:text-detail
                after:border-b-2 after:border-solid 
                after:content-[attr(data-replicated-value)_'_']"
         data-replicated-value=@_value >

        <textarea 
            @bind="CurrentValueAsString"
            @bind:event="onchange"
            @oninput="onValueChanged"
            id="@_id"
            placeholder="@Placeholder"
            rows="1"
            class="
                resize-none overflow-hidden pl-4
                transition-normal
                row-start-1 row-end-2 col-start-1 col-end-1
                bg-transparent text-detail
                border-b-2 border-solid border-accent
                placeholder:italic placeholder:text-fg-inactive
                hover:border-accent-alt
                [.invalid_>.text-area-wrapper_>_&]:border-error
                focus:!border-accent-alt" />

    </div>
</div>

@code {
    private readonly Guid _id = Guid.NewGuid();
    private string? _value;

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string? Label { get; set; }

    private void onValueChanged(ChangeEventArgs e)
    {
        _value = (string?)e.Value;
    }
}