@using Microsoft.AspNetCore.Components.Forms

@inherits InputText

<div @attributes=AdditionalAttributes class=@CssClass>
    <label for="@_id" class="font-bold text-sm md:text-base">@Label</label>
    <input
        @bind="CurrentValueAsString"
        @bind:event="onchange"
        id="@_id"
        type="text"
        placeholder="@Placeholder"
        class="
            block w-full overflow-hidden pl-4
            transition-fast
            bg-transparent text-sm md:text-base
            border-b-2 border-primary
            placeholder:italic
            hover:border-primary-300
            [.invalid_>_&]:border-error
            focus:!border-primary-300 
            placeholder:text-neutral-200" />

</div>

@code {
    private readonly Guid _id = Guid.NewGuid();

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string? Label { get; set; }
}