@inherits LayoutComponentBase

@using Byteology.Website.Navigation

<div id="page" class="@(_state.Prerendering ? "prerendered" : "")">

    <div id="layout" class="@(!_state.NavigationBarRendered ? _fadeInAnimationClass : "")">

        <NavigationBar/>

        <main class="@(_state.NavigationBarRendered ? _fadeInAnimationClass : "")">
            @Body
        </main>

        <PrivacyFooter />

    </div>

</div>
