@inherits LayoutComponentBase

@using Byteology.Website.Navigation

<main id="page" class="@_fadeInAnimationClass">

    @Body

    <Slide IncludeFooter="true">
        <Sitemap RemoveHomeLink="true" />
    </Slide>

</main>
