@inherits LayoutComponentBase

@using Byteology.Website.Layout.Components
@using Byteology.Website.Navigation
@using Microsoft.JSInterop

<LayoutWrapper FullPageScrolling="true">

    @Body

    <Slide>
        <div class="max-w-md md:max-w-4xl">
            <DefaultInquiryComponent/>
        </div>
    </Slide>

    <Slide PaddingDisabled="true">
        <div class="w-full h-full
                        flex flex-col gap-10 items-center justify-between">

            <div class="w-full h-12 flex-none"></div>
            <div class="w-full p-6 md:p-8 flex justify-center
                        bg-dark-900/70 border border-dark-100 shadow-md">
                <Sitemap DisableHomeLink="true"/>
            </div>
            <PrivacyFooter class="flex-none"/>

        </div>
    </Slide>

</LayoutWrapper>

@code {

    [Inject]
    private IJSRuntime _jsRuntimeAsync { get; set; } = default!;

    private IJSInProcessRuntime _jsRuntime => (IJSInProcessRuntime)_jsRuntimeAsync;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        _jsRuntime.InvokeVoid("onNavigated");
    }

}
