<Metadata Title="Not Found"
      Description="There are profound difficulties in simple things and only by understanding and tackling those, you can truly master the ever-growing complexity of modern solutions. This concept is called scientific generalization and it refers to the extent to which findings of an empirical investigation hold for a variation of populations and settings." 
      Keywords="@(new string[] { "byteology", "mission", "about us", "about", "scientific generalization", "software", "software engineering" })"/>

<div class="panel">
    <PageHeading Text="404 Not Found"/>
    <p>Are you looking for the easter egg? Well it is not here. In fact there is absolutely nothing here.</p>
</div>
