<div id="page"
     tabindex="0"
     class="page w-full h-full text-neutral-100 overflow-x-hidden overflow-y-scroll
            @(FullPageScrolling
                  ? "snap-y snap-mandatory [&>.slide+.slide]:mt-32 no-scrollbar"
                  : "flex flex-col min-h-full cursor:styled-scrollbar")
            @(!_fadeIn
                  ? ""
                  : ((FullPageScrolling
                          ? ""
                          : "[&_section]:animate-fade-in-fast ")
                     + (_comesFromFullPageScrolling
                            ? "[&_nav]:animate-fade-in-fast"
                            : "")))"
     style="@(_state.InitialLoad == true && _firstRender ? "overflow: hidden;" : "")">

    @ChildContent

</div>
