@using Byteology.Website.Navigation
@using Byteology.Website.Company

<footer>
    <span>&copy;@DateTime.Now.Year Byteology |&nbsp;</span>
    <a href="@(Sitemap.GetRouteOf<PrivacyPage>())">Privary policy</a>
</footer>
