@using Microsoft.AspNetCore.Components.Routing
@using Byteology.Website.Navigation

<footer>
    <span>&copy;@DateTime.Now.Year Byteology |&nbsp;</span>
    <a href="@SitemapData.PrivacyPolicy.Url">@SitemapData.PrivacyPolicy.Title</a>
</footer>
