@using Byteology.Website.Navigation
@using Ljbc1994.Blazor.IntersectionObserver.Components

<IntersectionObserve>
    <section @ref="context.Ref.Current"
             class="slide @(context.IsIntersecting || _state.Prerendering ? "active" : "")">

        <div class="chevron @(_state.Prerendering ? "prerendered" : "")">
            <ChevronIcon/>
        </div>

        @ChildContent

        @if (IncludeFooter)
        {
            <PrivacyFooter/>
        }
        else
        {
            <div class="chevron @(_state.Prerendering? "prerendered" : "")">
                <ChevronIcon/>
            </div>
        }

    </section>
</IntersectionObserve>

@code {
    [Inject]
    private LayoutStateContainer _state { get; set; } = default!;

    [Parameter]
    public bool IncludeFooter { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
