@using Byteology.Website.Components.Navigation
@inherits LayoutBase

<Page>
    <NavigationMenu/>
    <div class="grow flex flex-col py-10 items-center justify-center">
        @Body
    </div>
    <Footer/>
</Page>