@using Byteology.Website.Components.Navigation
@inherits LayoutBase

<Page>
    <div class="flex-[1_0_100%] flex flex-col justify-between">

        <NavigationMenu/>

        <div class="flex-none md:container mx-auto grid grid-cols-12 gap-y-10 gap-x-8 py-10">
            @Body
        </div>

        <Footer class="flex-none" />

    </div>
</Page>