@inherits LayoutComponentBase

<div class="h-[110vh]"></div>

<div class="w-screen h-screen top-0
            fixed bg-center bg-cover bg-[url('/images/background.jpeg')]" />

<CascadingValue Name="SlideLayout" Value="this">
    <VisualViewport @ref=VisualViewport>
        <div class="h-screen w-screen absolute"
             style="top:-@(VisualViewport.Top)px; left:-@(VisualViewport.Left)px;"
             @onwheel=onWheel 
             @ontouchstart=onTouchStart
             @ontouchmove=onTouchMove 
             @ontouchend=onTouchEnd
             @ontouchcancel=onTouchEnd>

            <div class="space-y-64 transition-all duration-[20s]" style="top:calc(-@_currentSlide * (100vh + 16rem))">
                @Body
            </div>

        </div>
    </VisualViewport>
</CascadingValue>
