<PersonIntro Name="Tsvetan Igov" Title="Founder" ImageSrc="/images/igov.png">
    <div class="styled-content">
        <h2>Here's who is behind Byteology</h2>
        <ul>
            <li>Software Engineer and Technical Architect with over 20 years of experience</li>
            <li>MENSA International member</li>
            <li>Former Head of Development with over 15 successful projects in the finance and energy sectors</li>
            <li>Extensive experience in project management and leading teams of software engineers</li>
            <li>Developed e-banking software for one of the largest independent financial service providers in Central and
                Eastern Europe</li>
        </ul>
    </div>
</PersonIntro>
