<b-person-intro>
    <aside>
        <img src="@ImageSrc" alt="@($"{Name} - {Title}")" />
        <p>
            <span>@Name</span>
            <span>@Title</span>
        </p>
    </aside>
    <article>
        @ChildContent
    </article>
</b-person-intro>
