@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html, body, #app {
        @apply w-full;
        @apply h-full;
        @apply overflow-hidden;
    }

    body {
        @apply bg-dark-900;
        @apply font-sans;
        @apply tracking-widest;
        @apply selection:text-neutral-100;
        @apply selection:bg-primary-300;
        @apply text-neutral-100;
    }

    svg {
        @apply h-auto;
    }

    *, :after, :before {
        @apply relative;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    *:focus {
        outline: none;
    }

}

@layer components {

    .panel {
        @apply bg-dark-900/70;
        @apply border;
        @apply border-dark-100;
        @apply shadow-md;
        @apply p-8;
    }

    .panel-overlay {
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply w-full;
        @apply h-full;
        @apply bg-dark-700;
        @apply mix-blend-lighten;
    }

    .styled-content {
        @apply space-y-4;
    }

    .styled-content a {
        @apply link;
    }

    .styled-content strong {
        @apply font-bold;
        @apply text-accent;
    }

    .styled-content ol {
        @apply list-decimal;
        @apply space-y-4;
        @apply pl-[1em];
    }

    .styled-content ol > li::marker {
        @apply text-accent;
    }

    .styled-content ol > li {
        @apply space-y-4;
    }

    .styled-content ul {
        @apply list-disc;
        @apply space-y-2;
        @apply pl-[1em];
    }

    .styled-content ul > li::marker {
        @apply text-accent;
    }

    .styled-content ul > li {
        @apply space-y-4;
    }

    .styled-content h1 {
        @apply text-xl;
        @apply font-bold;
        @apply text-accent;
        @apply uppercase;
    }

    .styled-content h2 {
        @apply text-lg;
        @apply font-bold;
        @apply text-accent;
        @apply uppercase;
    }

    .styled-content h3 {
        @apply text-base;
        @apply font-bold;
        @apply text-accent;
        @apply uppercase;
    }

    .styled-content h4 {
        @apply text-base;
        @apply font-bold;
        @apply text-accent;
    }

    .styled-content h5 {
        @apply text-base;
        @apply text-accent;
    }

    ol.timeline {
        counter-reset: timeline-counter;
        @apply flex;
        @apply flex-col;
        @apply gap-y-[1em];
    }

    ol.timeline > li::before {
        counter-increment: timeline-counter;
        content: counter(timeline-counter);
        overflow-wrap:normal;

        @apply font-bold;
        @apply text-accent;

        @apply absolute;
        @apply left-0;
        @apply scale-y-[0.875];
    }

    ol.timeline > li {
        @apply pl-8;
    }

    ol.timeline > li:nth-child(-n+9)::before {
        content: '0'counter(timeline-counter);
    }

    ol.timeline > li:last-child::after {
        @apply hidden;
    }

    ol.timeline > li::after {
        content: '';

        @apply absolute;
        @apply left-[0.875ch];
        @apply top-[1.375em];
        @apply w-[2px];
        @apply h-[calc(100%_-_0.5em)];
        @apply bg-accent;
        @apply text-accent;
    }

    .title
}

@layer utilities {

    .svg-color-base {
        @apply fill-accent;
        @apply stroke-accent;
    }

    .svg-color-accent {
        @apply fill-neutral-100;
        @apply stroke-neutral-100;
    }

}
