@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html, body, #app {
        @apply w-full;
        @apply h-full;
        @apply overflow-hidden;
    }

    body {
        @apply bg-dark-900;
        @apply font-sans;
        @apply tracking-widest;
        @apply selection:text-neutral-100;
        @apply selection:bg-primary-300;
    }

    .uppercase {
        letter-spacing: 0.15em;
    }

    svg {
        @apply h-auto;
    }

    *, :after, :before {
        @apply relative;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }

    *:focus {
        outline: none;
    }
}

@layer components {
    .slide {
        @apply w-full;
        @apply h-full;
        @apply snap-start;
        @apply snap-always;
        @apply overflow-x-hidden;
        @apply overflow-y-auto;
        @apply no-scrollbar;
    }

    .slide-center {
        @apply flex;
        @apply flex-col;
        @apply justify-safe-center;
        @apply items-center;
    }

    .link {
        @apply underline;
        @apply underline-offset-2;
        @apply decoration-2;
        @apply decoration-primary;
        @apply transition-fast;
        @apply hocus:text-primary-300;
        @apply hocus:decoration-primary-300;
    }

    .link-accent {
        @apply underline;
        @apply underline-offset-2;
        @apply decoration-2;
        @apply decoration-accent;
        @apply text-accent;
        @apply transition-fast;
        @apply hocus:text-accent-300;
        @apply hocus:decoration-accent-300;
    }

    .button {
        @apply font-bold;
        @apply uppercase;
        @apply text-center;
        @apply text-neutral-100;
        @apply transition-normal;
        @apply bg-primary;
        @apply hocus:bg-primary-300;
    }

    .ordered-list {
        @apply list-decimal;
        @apply space-y-4;
        @apply pl-[1em];
    }

    .ordered-list > li::marker {
        @apply text-accent;
    }

    .ordered-list > li {
        @apply space-y-4;
    }

    .unordered-list {
        @apply list-disc;
        @apply space-y-2;
        @apply pl-[1em];
    }

    .unordered-list > li::marker {
        @apply text-accent;
    }

    .unordered-list > li {
        @apply space-y-4;
    }

    .markdown {
        @apply space-y-4;
    }

    .markdown strong {
        @apply text-accent;
    }

    .markdown ul {
        @apply list-disc;
        @apply space-y-2;
        @apply pl-[1em];
    }

    .markdown ul>li {
        @apply space-y-4;
    }

    .markdown ul>li::marker {
        @apply text-accent;
    }

    .markdown h2 {
        @apply text-lg;
        @apply font-bold;
        @apply text-accent;
        @apply uppercase;
    }
}

@layer utilities {
    .transition-fast {
        @apply transition-all;
        @apply duration-200;
    }

    .transition-normal {
        @apply transition-all;
        @apply duration-500;
    }

    .transition-slow {
        @apply transition-all;
        @apply duration-1000;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

        .no-scrollbar::-webkit-scrollbar {
            display: none;
            width: 0;
            height: 0;
        }

    .styled-scrollbar::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        @apply bg-dark-900;
        @apply shadow-dark-100;
        box-shadow: inset 0 0 0 2px var(--tw-shadow-color);
    }

    .styled-scrollbar::-webkit-scrollbar-thumb { /* Foreground */
        @apply bg-gradient-to-b;
        @apply from-dark;
        @apply to-primary-900;
        @apply shadow-dark-100;
        box-shadow: inset 0 0 0 2px var(--tw-shadow-color);
        --tw-gradient-stops: var(--tw-gradient-from) 25%, var(--tw-gradient-to) 50%, var(--tw-gradient-from) 75%;
    }

    .justify-safe-center {
        @apply before:max-h-0;
        @apply after:max-h-0;
        @apply justify-between;
    }

    svg .primary {
        @apply fill-accent;
        @apply stroke-accent;
    }

    svg .secondary {
        @apply fill-neutral-100;
        @apply stroke-neutral-100;
    }
}
