@inherits StyleableComponent

@using Microsoft.AspNetCore.Components.Routing
@using static Byteology.Website.Components.Navigation.NavigationData

<div @attributes=AdditionalAttributes
     class="flex flex-col md:flex-row justify-center gap-8 md:gap-16 lg:gap-32 @CssClass">

    <img class="flex-none w-auto md:w-32 h-16 md:h-auto md:self-start
        bg-center bg-contain
        content-[url(/images/logo-landscape.svg)]
        md:content-[url(/images/logo-portrait.svg)]"
            alt="Byteology"/>

    <div class="flex-none flex flex-col md:flex-row justify-evenly gap-8 md:gap-16">
        @foreach (NavigationSection section in Data.Sections)
        {
            <div class="flex flex-col text-base gap-1">
                <p class="uppercase font-bold text-accent text-base mb-2">@(section.Text)</p>

                @foreach(NavigationItemModel item in section.Items)
                {
                    @if (item.Page == typeof(Pages.Index) && DisableHomeLink)
                        continue;

                    <NavLink class="transition-fast hocus:text-accent-300" 
                                href="@(_routeManager.Match(item.Page)?.GetUrl())"
                                Match="NavLinkMatch.All">
                        @item.Text
                    </NavLink>
                }
            </div>
        }
    </div>

</div>

@code {
    private readonly NavigationData Data = new();

    [Parameter]
    public bool DisableHomeLink { get; set; }
}