@using Microsoft.AspNetCore.Components.Routing
@using static Byteology.Website.Components.Navigation.NavigationData

<nav class="md:hidden flex-none
            sticky top-0 z-10 w-full h-12 
            bg-dark-900 border border-dark-100 shadow-md
            text-sm font-bold whitespace-nowrap select-none">

    <div class="flex
                w-full h-12 px-4
                items-center justify-between gap-8">

        <input id="hamburger" type="checkbox" class="hidden" title="menu" />
        <label class="w-[1.8rem]" for="hamburger">
            <svg class="transition-normal visible opacity-100
                        checkbox-checked:invisible
                        checkbox-checked:opacity-0"
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 24 24">
                <path class="fill-neutral-100" 
                        fill-rule="evenodd" 
                        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
            <svg class="absolute top-0 left-0 scale-125
                        transition-normal invisible opacity-0
                        checkbox-checked:visible
                        checkbox-checked:opacity-100" 
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path class="fill-neutral-100" 
                        fill-rule="evenodd" 
                        d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"/>
            </svg>
        </label>

        <div class="fixed h-full w-full top-12 left-0 z-50 
                    backdrop-blur-none invisible bg-transparent
                    transition-normal 
                    checkbox-checked:visible checkbox-checked:backdrop-blur-sm checkbox-checked:bg-dark-900/70"
            @onclick=onClickOutside
            @ontouchstart=onTouchStart
            @ontouchmove=onTouchMove>

            <div class="inline-block h-full
                        bg-dark-900 border-r border-dark-100 shadow-md
                        transition-normal
                        -translate-x-full checkbox-checked:translate-x-0
                        p-8 overflow-x-hidden overflow-y-auto no-scrollbar"
                 @onclick:stopPropagation=true>

                <ExpandedNavigation/>
            
            </div>

        </div>

        <NavLink class="button p-1 px-4 text-xs" 
                 tabindex="-1" 
                 href="@(_routeManager.Match(_data.Highlighted.Page)?.GetUrl())" 
                 Match="NavLinkMatch.All">
            @_data.Highlighted.Text
        </NavLink>

    </div>

</nav>