@using Byteology.Website.Components.DesignSystem;

@page "/design-system"

<PageTitle>Byteology - Design System</PageTitle>

<div class="container py-8 space-y-12">
    <h1 class="text-h1 font-bold uppercase">Design System</h1>
    <Colors/>
    <Typography/>
    <GraphicElements/>
</div>




