@page "/"
@inherits BasePage<Data.Models.HomePage.HomePageModel>

@using Byteology.Website.Components.HomePage;
@using Byteology.Website.Components.HomePage.InquirySegment;

<PageTitle>@Model.Title</PageTitle>

<PageRoot FullPageScrolling=true class="fixed-banner dark">

    <ScientificGeneralization Model=Model.ScientificGeneralization class="slide"/>

    <section class="slide flex flex-col justify-safe-center items-center py-8 sm:px-8">
        <ServicesList Model="Model.ServicesList" />
    </section>

    <section class="slide flex flex-col justify-safe-center items-center py-8 sm:px-8">
        <Inquiry Model="Model.Inquiry" />
    </section>


    <section class="slide">
        <div class="card flex gap-16">
            <div class="flex flex-col ">
                <p class="block font-bold mb-4 text-emph text-body">Company</p>
                <a class="link block" href="">Mission</a>
                <a class="link block" href="">Careers</a>
                <a class="link block" href="">Contacts</a>
            </div>

            <div class="flex flex-col ">
                <p class="block font-bold mb-4 text-emph text-body">Services</p>
                <a class="link block" href="">Application Development</a>
                <a class="link block" href="">Migration to Microservices</a>
                <a class="link block" href="">Event Sourcing</a>
                <a class="link block" href="">Training & Consulting</a>
                <a class="link block" href="">Interviewing as a Service</a>
            </div>

@*                <div class="flex flex-col ">
                <p class="block font-bold mb-4 text-emph text-body">Toughts</p>
                <a class="link block" href="">Business</a>
                <a class="link block" href="">Software Development</a>
                <a class="link block" href="">Random stuff</a>
            </div>*@
        </div>
    </section>

    <p class="mt-8 text-center text-footnote text-fg-inactive">©2021 Byteology | Privacy policy</p>


</PageRoot>

@code {
    public Home() : base("home-page-data.json") { }
}