@page "/"
@inherits BasePage<Data.Models.HomePage.HomePageModel>

@using Byteology.Website.Components.HomePage;
@using Byteology.Website.Components.HomePage.InquirySegment;

<PageTitle>@Model.Title</PageTitle>



<PageRoot FullPageScrolling=true DarkMode=true class="fixed-banner">

    <div class="fixed max-w-full box-content overflow-x-auto no-scrollbar h-7 z-10 left-1/2 -translate-x-1/2
                bg-bg
                text-fg font-bold text-footnote whitespace-nowrap
                border-2 border-t-0 border-solid border-accent">
        <div class="px-8 py-1 max-w-[56rem] mx-auto flex gap-8">
            <a class="hocus:text-accent-alt cursor-pointer" >Mission</a>
            <a>Services</a>
            <a>Thoughts</a>
            <a>Careers</a>
            <a>Contacts</a>
        </div>
    </div>

    <Slide>
        <Logo FadeIn=true />
    </Slide>

    <Slide>
        <ScientificGeneralization Model="Model.ScientificGeneralization" />
    </Slide>

    <Slide>
        <ServicesList Model="Model.ServicesList" />
    </Slide>

    <Slide>
        <Inquiry Model="Model.Inquiry" />
    </Slide>

</PageRoot>

@code {
    public Home() : base("home-page-data.json") { }
}