@page "/"
@inherits BasePage<Data.Models.HomePage.HomePageModel>

@using Byteology.Website.Components.HomePage;
@using Byteology.Website.Components.HomePage.InquirySegment;

<PageTitle>@Model.Title</PageTitle>



<PageRoot FullPageScrolling=true DarkMode=true class="fixed-banner">

    <div class="fixed w-full z-10 px-8 flex justify-center">
        <div class="bg-bg border-2 border-t-0 border-solid border-accent py-1 px-2
                    text-footnote font-bold flex flex-wrap justify-center gap-x-4">
            <a class="hocus:text-accent-alt cursor-pointer" >Mission</a>
            <a>Services</a>
            <a>Thoughts</a>
            <a>Careers</a>
            <a>Contacts</a>
        </div>

    </div>

    <Slide>
        <Logo FadeIn=true />
    </Slide>

    <Slide>
        <ScientificGeneralization Model="Model.ScientificGeneralization" />
    </Slide>

    <Slide>
        <ServicesList Model="Model.ServicesList" />
    </Slide>

    <Slide>
        <Inquiry Model="Model.Inquiry" />
    </Slide>

</PageRoot>

@code {
    public Home() : base("home-page-data.json") { }
}