@page "/"

@using Byteology.Website.Components.HomePage;

<PageTitle>Byteology - a moment of science</PageTitle>

<div style="height: calc(100vh + 2px)"/>

<div class="fixed 
            transition-all duration-1000 
            space-y-[64px]" 
        style="top: calc(-@_currentSlide * (100 * var(--vh, 1vh) + 64px))">

    <CascadingValue Value="Theme.Dark">

        <Logo class="transition-all duration-1000 h-[calc(100_*_var(--vh,_1vh))]" FadeIn=true />

        <Slide>
            <ScientificGeneralization class="max-w-4xl mx-auto"/>
        </Slide>

        <Slide>
            <ServicesList/>
        </Slide>

    </CascadingValue>

</div>


@*
    <section class="snap-start snap-always h-screen bg-light text-dark">
        <h1>Here’s what you can expect with Byteology</h1>
        <p>At Byteology we believe in crafting and providing flexible solutions that meet your specific business needs</p>
        <p>Here’s the modular approach that we have adopted and that can be easily customized:</p>

        <h2><span>01</span>Conducting a product discovery</h2>
        <ul>
            <li>Free of charge</li>
            <li>Takes 1-2 weeks</li>
        </ul>

        <h2><span>02</span>Creation of custom offer</h2>
        <p>The offer includes</p>
        <ul>
            <li>Technical development plan</li>
            <li>Timeline</li>
            <li>A month-to-month price offer</li>
        </ul>

        <h2><span>03</span>Delivery of demo</h2>
        <p>At the end of every month, you will be presented with a demo</p>

        <p>If you are NOT satisfied with the demo, we end our relationship without you having to pay</p>
        <p>If you ARE satisfied with the demo, we continue our partnership</p>

    </section>

    <section class="snap-start snap-always h-screen bg-light text-dark">
        <h1>Here's to working together</h1>
    </section>
</div>*@
