@page "/image-builder"
@layout FullPageScrollingLayout

@using Byteology.Website.Components.Inquiry
@using Byteology.Website.Components.Navigation

<section class="flex w-full h-full grow content-center justify-center">

            <img class="object-center object-contain"
                 src="https://byteology.net/images/logo-landscape.svg"/>
</section>