@layout FullPageScrollingLayout

@using Byteology.Website.Components.Inquiry

<PageTitle>@_model.Title</PageTitle>

<Hero />

<section class="slide slide-center">
    <ServicesList />
</section>

<section class="slide slide-center md:px-8">
    <Inquiry />
</section>