@layout FullPageScrollingLayout

@using Byteology.Website.Components.Inquiry

<PageTitle>@_model.Title</PageTitle>

<Hero />

<section class="slide slide-center">
    <ServicesList />
</section>

<section class="slide slide-center md:px-8">
    <Inquiry />
</section>

<section class="slide slide-center">
    <div class="w-full min-h-full flex flex-col gap-10 items-center pt-[2.5rem]">
        <div class="w-full grow flex items-center">
            <div class="w-full bg-dark-900/70 border border-dark-100 shadow-md flex justify-center">
                <Byteology.Website.Components.Navigation.ExpandedNavigation/>
            </div>
        </div>
        <Footer/>
    </div>
</section>