<Head Title="Byteology - Privacy Policy" 
      Description="We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used." 
      Keywords="@(new string[] { "privacy", "policy", "gdpr", "cookies" })" />

<section class="col-span-12 xl:col-span-8 xl:col-start-3
                bg-dark-900/70 border border-dark-100 shadow-md p-8 space-y-4 text-sm md:text-base
                [&_h1]:!mt-8 [&_h1]:text-accent [&_h1]:font-bold md:[&_h1]:text-lg [&_h1]:uppercase
                [&_ul]:list-disc [&_ul]:space-y-2 [&_ul]:ml-8
                [&_strong]:text-accent
                [&_a]:link-accent">
    @(new MarkupString(Markdown.ToHtml(_model)))
</section>


@code {
    private readonly string _model;

    public Privacy()
    {
        _model = this.ReadMarkdownModel();
    }
}