<section class="mx-auto max-w-3xl bg-dark-900/70 border border-dark-100 shadow-md p-8 space-y-4 text-sm md:text-base
                [&_h1]:!mt-8 [&_h1]:text-primary-300 [&_h1]:font-bold md:[&_h1]:text-lg [&_h1]:uppercase
                [&_ul]:list-disc [&_ul]:space-y-2 [&_ul]:ml-8
                [&_strong]:text-accent
                [&_a]:link-accent">
    @(new MarkupString(Markdown.ToHtml(_model)))
</section>


@code {
    private readonly string _model;

    public Privacy()
    {
        _model = this.ReadMarkdownModel();
    }
}