@using Byteology.Website.Inquiry
@using Byteology.Website.Inquiry.Contacts

<InquiryComponent InquiryFormType="typeof(DefaultInquiryForm)">
    <Sidebar>
        <h2>Here's to working together</h2>
        <p>
            Don't hesitate to reach out to us with any question or request regarding your career development and we
            will help you the best we can.
        </p>
        <p>
            We usually answer within 2 business days.
        </p>
        <ContactsCollection Contacts="ContactsCollection.CareerContacts" />
        </Sidebar>
</InquiryComponent>
