<b-inquiry-form>

	<b-schedule-item>
		<b-title>Introductory Meeting (15 min)</b-title>
		<b-text>
			We'll quickly tell you about who we are and what we do, and let you decide if we can be of any assistance in
			the future.
		</b-text>
		<a href="https://app.cal.eu/tsvetan-igov/introductory-meeting" target="_blank">Schedule</a>
	</b-schedule-item>

	<b-schedule-item>
		<b-title>Explore a Service (30 min)</b-title>
		<b-text>
			We'll tell you everything you would want to know about one of our services and answer all your
			questions.
		</b-text>
		<a href="https://app.cal.eu/tsvetan-igov/explore-a-service" target="_blank">Schedule</a>
	</b-schedule-item>

	<b-schedule-item>
		<b-title>Free Consultation (60 min)</b-title>
		<b-text>
			We'll discuss into detail what your current pain points are and then share our expertise and even follow up
			with possible solutions and best next actions.
		</b-text>
		<a href="https://app.cal.eu/tsvetan-igov/free-consultation" target="_blank">Schedule</a>
	</b-schedule-item>

</b-inquiry-form>