<b-inquiry-form>

	<b-schedule-item>
		<b-title>Introductory Meeting (15 min)</b-title>
		<b-text>
			We'll quickly tell you about who we are and what we do, and let you decide if we can be of any assistance in
			the future.
		</b-text>
		<a href=""
		   onclick="Calendly.initPopupWidget({url: 'https://calendly.com/tsvetan-igov/introductory-meeting?background_color=090326&text_color=ffffff&primary_color=573ce2'});return false;">Schedule</a>
	</b-schedule-item>

	<b-schedule-item>
		<b-title>Explore a Service (30 min)</b-title>
		<b-text>
			We'll tell you everything you would want to know about one of our services and answer all your
			questions.
		</b-text>
		<a href=""
		   onclick="Calendly.initPopupWidget({url: 'https://calendly.com/tsvetan-igov/explore-a-service?background_color=090326&text_color=ffffff&primary_color=573ce2'});return false;">Schedule</a>
	</b-schedule-item>

	<b-schedule-item>
		<b-title>Free Consultation (60 min)</b-title>
		<b-text>
			We'll discuss into detail what your current pain points are and then share our expertise and even follow up
			with possible solutions and best next actions.
		</b-text>
		<a href=""
		   onclick="Calendly.initPopupWidget({url: 'https://calendly.com/tsvetan-igov/free-consultation?background_color=090326&text_color=ffffff&primary_color=573ce2'});return false;">Schedule</a>
	</b-schedule-item>

</b-inquiry-form>