@using Byteology.Website.Inquiry
@using Byteology.Website.Inquiry.Contacts

<InquiryComponent InquiryFormType="typeof(CalendlyForm)">
    <Sidebar>
        <h2>Here's to Working Together</h2>
        <p>
            Don't hesitate to schedule a meeting at your convenience, specifying your preferred time and duration.
        </p>
        <p>
            Or if you prefer, feel free to reach out via phone or email and we will help you the best we can.
        </p>
        <ContactsCollection Contacts="ContactsCollection.InquiryContacts" />
    </Sidebar>
</InquiryComponent>