@using Byteology.Website.Inquiry.Contacts

<b-inquiry class="@_state">
    <b-inquiry-content>
        <aside>
            @Sidebar
        </aside>
        <DynamicComponent Type="InquiryFormType" Parameters="getDynamicComponentParameters()"/>
    </b-inquiry-content>

    <b-inquiry-success>
        <h2>Thank you!</h2>
        <p>Thank you for reaching out! We'll make sure to help you the best we can. We usually answer within 2 business days.</p>
    </b-inquiry-success>

    <b-inquiry-error>
        <h2>Oops!</h2>
        <p>We are terribly sorry but something went wrong. You can either retry or just write us a plain old email.</p>
        <button type="button" @onclick="onRetry">Continue</button>
    </b-inquiry-error>
</b-inquiry>
