<div class="grid grid-cols-[max-content_1fr] auto-rows-max gap-x-8 items-baseline @Class">
        
    @foreach(ContactModel contact in Contacts)
    {
        <div class="contents">

            @for (int i = 0; i < contact.Details.Length; i++)
            {
                @if (i == 0)
                {
                    <p class="col-start-1
                              text-emph font-bold">
                        @contact.Name
                    </p>
                }

                @if (i == 1)
                {
                    <p class="col-start-1
                              text-footnote font-bold">
                        @contact.Title
                    </p>
                }

                <ContactDetail 
                    Model="contact.Details[i]" 
                    class="col-start-2" />
            }

            @if(contact != Contacts.Last())
            {
                <div class="w-1 h-4 col-span-2"></div>
            }

        </div>
    }

</div>