@using Byteology.Website.Components.Input
@using Microsoft.AspNetCore.Components.Forms

<EditForm 
    Model="_inquiryModel" 
    OnValidSubmit="onSubmit"
    class=@($"grid grid-cols-2 gap-8 {Class}")>

    <DataAnnotationsValidator />

    <TextInput Label="Name" Placeholder="John Doe" @bind-Value=_inquiryModel.Name class="col-span-2 tablet:col-span-1" />
    <TextInput Label="Email" Placeholder="exaple@mail.com" @bind-Value=_inquiryModel.Email class="col-span-2 tablet:col-span-1" />
    <TextArea Label="Message" Placeholder="Type your message here..." @bind-Value=_inquiryModel.Message class="col-span-2"/>
    <Checkbox Label=@ConcentText @bind-Value=_inquiryModel.Consent class="col-span-2 text-footnote text-fg-inactive hocus:text-fg transition-fast"/>
    <TextInput Label="Honeycomb" Placeholder="Honeycomb" @bind-Value=_inquiryModel.Honeycomb class="hidden" />
        
    <button 
        type="submit"
        class="button p-2 col-span-2">

        @SubmitInquiryText

    </button>

</EditForm>