@using Byteology.Website.Components.Input
@using Microsoft.AspNetCore.Components.Forms

<div class="p-8 bg-bg text-fg space-y-8">
    <h1 class="text-h2 font-bold text-emph text-center">Here's to working together</h1>

    <div class="grid grid-cols-[2fr_3fr] gap-x-8">
        <div class="space-y-8">
            <p class="text-body">Don't hesitate to reach out to us with any request or just to say hi and we will help you the best we can. We will get back to you within 2 business days.</p>
        
            <div class="flex flex-col">

                <p class="text-emph font-bold">Tsvetan Igov</p>
                <p class="text-footnote font-bold mb-2">Founder of Byteology</p>
                <a class="link text-footnote" href="mailto:tsvetan.igov@byteology.net">tsvetan.igov@byteology.net</a>
                <a class="link text-footnote" href="tel:+359 876 535 938">+359 876 535 938</a>
            </div>

            <div class="flex flex-col">
                <p class="text-emph font-bold">Or come visit us</p>
                <p class="text-footnote">5 Hristo Belchev str, Sofia, Bulgaria</p>
            </div>
        </div>
    

        <EditForm 
            Model="_inquiryModel" 
            OnValidSubmit="onSubmit"
            class="grid grid-cols-2 gap-8">

            <DataAnnotationsValidator />

            <TextInput Label="Name" Placeholder="John Doe" @bind-Value=_inquiryModel.Name class="col-span-2"/>
            <TextInput Label="Email" Placeholder="exaple@mail.com" @bind-Value=_inquiryModel.Email class="col-span-2 tablet:col-span-1"/>
            <TextInput Label="Phone (optional)" Placeholder="123-456-7890" @bind-Value=_inquiryModel.Phone class="col-span-2 tablet:col-span-1"/>
            <TextArea Label="Message" Placeholder="Type your message here..." @bind-Value=_inquiryModel.Message class="col-span-2"/>
            <Checkbox Label="I freely give my consent to have my personal information processed for the purpose of receiving feedback or solicited content." @bind-Value=_inquiryModel.Consent class="col-span-2 text-footnote text-fg-inactive hocus:text-fg transition-fast"/>
            <TextInput Label="Honeycomb" Placeholder="Honeycomb" @bind-Value=_inquiryModel.Honeycomb class="hidden" />
        
            <button 
                type="submit"
                class="button p-2 col-span-2">

                Submit

            </button>

        </EditForm>
    </div>
</div>