<div class="p-8 bg-bg text-fg space-y-8">
    <h1 class="text-h3 font-bold text-emph text-center">@Model.Title</h1>

    <div class="grid grid-cols-1 laptop:grid-cols-[2fr_3fr] gap-8">

        <div class="col-start-1 laptop:content-start space-y-4">
            <p class="text-detail tablet:text-body">
                @Model.CallToAction
            </p>

            <ContactsList Contacts="Model.Contacts" />
        </div>
    
        <ContactForm ConcentText="@Model.Consent" SubmitInquiryText="@Model.SubmitInquiryText" 
                     class="laptop:col-start-2 laptop:content-between" />

    </div>
</div>