<div class="p-8 bg-bg text-fg
            grid grid-cols-1 laptop:grid-cols-2 gap-8 content-center">

    <div class="col-start-1
                text-h3 font-bold
                [&_strong]:text-emph">

        @(new MarkupString(Markdown.ToHtml(Model.Introduction)))

    </div>
    
    <Timeline Items="@Model.Timeline.Select(x => new MarkupString(Markdown.ToHtml(x))).ToArray()"
              class="col-start-1 row-span-1 laptop:col-start-2 laptop:row-span-2"/>


    <a 
        href="@Model.AboutUsUrl"
        class="col-start-1 self-end p-2
                text-detail font-bold uppercase text-center text-accent-fg
                bg-accent
                transition-normal
                hocus:bg-accent-alt">

        @Model.AdditionalInfoText

    </a>

</div>
