<div class="p-8 max-w-[56rem]
            grid grid-cols-1 landscape:grid-cols-2 gap-8 content-center
            bg-dark text-light">

    <div class="col-start-1
                text-h3 font-bold
                [&_strong]:text-secondary">

        @(new MarkupString(Markdown.ToHtml(Model.Introduction)))

    </div>
    
    <Timeline Items="@Model.Timeline.Select(x => new MarkupString(Markdown.ToHtml(x))).ToArray()"
              class="col-start-1 row-span-1 landscape:col-start-2 landscape:row-span-2 text-body"/>

    <LinkButton Text="@Model.AdditionalInfoText" 
                Url="@Model.AboutUsUrl" 
                Type="LinkButton.ButtonType.Primary" 
                class="col-start-1 self-end text-detail p-2" />
</div>
