<div class="h-full 
            grid grid-cols-1 landscape:grid-cols-2 gap-8 content-center">

    <h1 class="col-start-1
               text-h3 font-bold">
        By introducing <strong class="@_strongTextClass.Value">scientific generalization</strong> 
        to software engineering, <strong class="@_strongTextClass.Value">Byteology</strong> 
        helps businesses tackle software complexity and grow.
    </h1>
    
    <Timeline class="col-start-1 row-span-1 landscape:col-start-2 landscape:row-span-2" Items="@(new MarkupString[]
        {
            new ("We think deeply and <strong>analyze the building blocks</strong> of your software architecture"),
            new ("We extrapolate <strong>actionable data and insights</strong>"),
            new ("We design and implement <strong>tailored solutions</strong>"),
            new ("We help your business <strong>scale and grow</strong>"),
        })"/>

    <LinkButton class="col-start-1 self-end" Text="Learn more" Url="/about-us"/>
</div>

@code
{
    private ThemedValue _strongTextClass => new(() => Theme, light: "text-accent", dark: "text-secondary");
}