<div class="h-full p-8 bg-dark
            grid justify-center items-center content-center 
            grid-cols-1 gap-8
            lg:grid-cols-[23rem_23rem] lg:grid-rows-[auto_23rem_23rem] lg:gap-[1px]
            xl:grid-cols-[auto_23rem_23rem] xl:grid-rows-[23rem_23rem] xl:gap-[1px]">

    <div class="flex flex-col content-center justify-center gap-8
                lg:col-span-2
                xl:col-span-1 xl:row-span-2 xl:mr-8">
        <h1 class="text-secondary text-h1 font-bold text-center">Here's an overview of our services</h1>
        <p class="text-light text-body">We provide a wide wide array of services but if you need something you can't find listed here - don't hesitate to contact us. We may be able to help you or to refer you to one of our trusted partners.</p>

        <a class="inline-block px-[1.25em] py-[0.75em] uppercase text-center font-bold text-detail transition duration-500 border-solid border-2 border-secondary
                  bg-transparent text-light hover:text-light hover:bg-secondary
                  mb-8 xl:mb-0" href="/contact-us">Make an inquiry</a>
    </div>
    <ServiceIntro class="h-full" Title="MVP & Application Development" Description="Byteology’s team will develop your application or minimum viable product (MVP) for you."
                    IconSrc="/images/application-development.png" DetailsUrl="/services/development"/>

    <ServiceIntro class="h-full" Title="Migration to Microservices" Description="Byteology will provide you with a tailored technology, strategy and process to help your business successfully migrate to microservices."
                    IconSrc="/images/application-development.png" DetailsUrl="/services/microservices"/>

    <ServiceIntro class="h-full" Title="Event Sourcing" Description="Standard software development methodologies store and utilize less than 50% of the data that runs through the system."
                    IconSrc="/images/application-development.png" DetailsUrl="/services/event-sourcing"/>

    <ServiceIntro class="h-full" Title="Consulting & Training" Description="Byteology will provide you with tailored consulting services and training to help your business scale and grow."
                    IconSrc="/images/application-development.png" DetailsUrl="/services/consulting-and-training"/>
</div>