<div class="block laptop:hidden
            w-full max-w-[23rem]
            bg-dark 
            space-y-8 p-8">

    <h3 class="text-h3 font-bold text-secondary text-center">Here's an overview of our services</h3>

    <div class="mx-auto flex flex-col gap-4 justify-between">
        @for(int i = 0; i < Model.Services.Length; i++)
        {
            int j = i;
            <Service Model=@Model.Services[j]
                     Layout=@(serviceIsSelected(j) ? Service.ServiceLayout.Card : Service.ServiceLayout.Button)
                     @onclick=@(() => onClicked(j))
                     @onkeypress=@(args => onKeyPressed(args, j))/>
        }
    </div>

</div>


<div class="hidden laptop:block
            bg-dark 
            p-8 space-y-8">

    <h3 class="text-h3 font-bold text-secondary text-center">Here's an overview of our services</h3>

    <div class="grid grid-cols-[max-content_2px_1fr] gap-x-8 py-4">
        <div class="flex flex-col gap-[1.5rem] justify-between w-full">
            @for(int i = 0; i < Model.Services.Length; i++)
            {
                var j = i;
                <Service Model=@Model.Services[j]
                         Layout=@(serviceIsSelected(j) ? Service.ServiceLayout.ButtonSelected : Service.ServiceLayout.Button)
                         @onclick=@(() => onClicked(j))
                         @onkeypress=@(args => onKeyPressed(args, j))/>
            }
        </div>

        <div class="bg-accent h-full"></div>

        <Service Model=@Model.Services[_checkedIndex]
                 Layout=Service.ServiceLayout.Article />

    </div>
</div>

