@inherits LayoutComponentBase

<div class="w-screen h-screen top-0
            fixed bg-center bg-cover bg-[url('/images/background.jpeg')]" />

<CascadingValue Name="Layout" Value="this">

    <div class="space-y-64">
        @Body
    </div>

</CascadingValue>
