@inherits LayoutComponentBase

<CascadingValue Name="Layout" Value="this">

    <div id="layout" tabindex="0"
         class="w-full h-full
                bg-center bg-cover bg-fixed bg-[url('/images/background.jpeg')]
                overflow-x-hidden overflow-y-auto no-scrollbar
                snap-y snap-mandatory
                space-y-64">
        @Body
    </div>

</CascadingValue>
