@inherits LayoutComponentBase

<CascadingValue Name="Layout" Value="this">

    <div class="fixed h-vvp w-full
                bg-center bg-cover bg-[url('/images/background.jpeg')]
                overflow-x-hidden overflow-y-auto no-scrollbar overscroll-contain
                snap-y snap-mandatory
                space-y-64">
        @Body
    </div>

</CascadingValue>
