@inherits LayoutComponentBase

<CascadingValue Name="Layout" Value="this">

    <div id="layout" tabindex="0"
         class="w-full h-full
                overflow-x-hidden overflow-y-auto no-scrollbar
                snap-y snap-mandatory
                space-y-64">
        @Body
        <div class="block !mt-0 h-8" /> 

    </div>

</CascadingValue>
