<section class="w-full h-screen snap-start snap-always
                overflow-x-hidden overflow-y-auto no-scrollbar">

        <div class="h-full xs:px-8 py-4 flex justify-center content-center items-center justify-items-center">
            @ChildContent
        </div>

        <div class="w-full" style="min-height: calc(100 * (1vh - var(--vh, 1vh)))"/>
</section>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}