<section class="w-full h-screen snap-start snap-always
                overflow-x-hidden overflow-y-auto no-scrollbar
                ">

        <div class="xs:px-8 py-4 grow flex justify-center content-center items-center justify-items-center transition-all duration-500"
             style="height: calc(100 * var(--vh, 1vh))">
            @ChildContent
        </div>
</section>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}