<section class="slide mx-auto
                w-full h-full max-w-[56rem] tablet:px-8
                snap-start snap-always
                overflow-x-hidden overflow-y-auto no-scrollbar
                py-4 
                flex flex-col justify-between items-center
                ">

    <div class="max-h-0"/>
    @ChildContent
    <div class="max-h-0"/>

</section>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}