<section class="slide
                w-full h-full 
                snap-start snap-always
                overflow-x-hidden overflow-y-auto no-scrollbar
                xs:px-8 py-4 
                flex flex-col  justify-between items-center
                ">

    <div class="max-h-0"/>
    @ChildContent
    <div class="max-h-0"/>

</section>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}