name: Push

on: 
  push:
    branches:
      - '**'
      
jobs:
  build-and-analyze:
    runs-on: ubuntu-latest
    env:
      sonar_project_key: Byteology_byteology.github.io
      
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
          
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Tailwind CSS
        run: npm install -D tailwindcss@3 postcss postcss-cli autoprefixer postcss-minify postcss-import-ext-glob postcss-import

      - name: Restore
        working-directory: src
        run: dotnet restore
        
      - name: Build
        working-directory: src
        run: dotnet build --configuration Release --no-restore
