name: Release

on:
  push:
    branches: [ master ]
    
jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    
    - name: Checkout
      uses: actions/checkout@v3

    # Fills the configuration with some not so secret secrets
    - name: Fill config values
      run: sed -i 's|GD_INQUIRY_URL|${{ secrets.GD_INQUIRY_URL }}|g' src/Byteology.Website/Config.cs

    - name: Setup NodeJS
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install Tailwind CSS
      run: npm install -D tailwindcss postcss postcss-cli autoprefixer postcss-minify postcss-import-ext-glob postcss-import

    - name: Publish
      working-directory: src
      run: dotnet publish Byteology.Website -c Release -o ../release --nologo
      
    - name: Set 404 page
      run: cp release/wwwroot/index.html release/wwwroot/404.html
    
    # Add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll
      
    - name: Commit wwwroot
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: release
        FOLDER: release/wwwroot
